.quarto
**/*.quarto_ipynb
.venv
**/__pycache__
**/.DS_Store
sn-apacite.bst
sn-aps.bst
sn-basic.bst
sn-chicago.bst
sn-jnl.cls
sn-mathphys-ay.bst
sn-mathphys-num.bst
sn-nature.bst
sn-vancouver.bst
resources
.jupyter_cache
*_files
_freeze
/.quarto/
_output/
site_libs/
_manuscript/
